.c-input {
  position: relative;
  width: 100%;
  img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 11px;
    padding-left: 8px;

    + input {
      padding-left: 30px;
    }
  }
  input {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
  }
}
